.search {
  @include component-container;

  .search-container {
    width: 100%;
  }

  .search-title {
    text-align: center;
    margin-bottom: 2rem;
  }

  .message-title {
    margin: 0.75rem 0;
  }

  .search-input {
    padding: 1.2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .search-company {
    @include inherits-for-theme;
    text-decoration: none;

    .search-article {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 2rem 0;
      border: $border;
      padding: 1.5rem;

      @include breakpoint-md-down {
        flex-direction: column;
      }
    }

    .search-content {
      flex: 0 0 calc(25% - 1rem);

      @include breakpoint-xmd-down {
        flex: 0 0 calc(50% - 1rem);
      }

      @include breakpoint-md-down {
        flex: 0 0 1;
      }
    }
  }
}
