.header {
  @include center-component;
  margin-top: 2rem;
  padding-left: 0.5rem;

  .header-title {
    margin-bottom: 0.75rem;
  }

  .header-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .header-link {
    @include link;
  }
}
